:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-light: #e3e3e3;
  --color-gray-dark: #999;
}

.react-datepicker {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-white);
  padding: 10px 10px 70px;
  border-radius: 15px;
  gap: 30px;
  box-sizing: border-box;
  overflow-y: auto;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    width: 550px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.2);
    overflow-y: initial;
  }
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.react-datepicker__navigation {
  position: absolute;
  background: transparent;
  text-align: center;
  cursor: pointer;
  top: 25px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 16px;
  width: 16px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #999;
}

.react-datepicker__navigation--previous {
  left: 20px;
  transform: rotate(-45deg);
}

.react-datepicker__navigation--next {
  right: 20px;
  transform: rotate(135deg);
}

.react-datepicker__navigation-icon {
  font-size: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  flex: 0;
}

.react-datepicker__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.react-datepicker__current-month {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.react-datepicker__day-names {
  display: none !important;

  @media (min-width: 1024px) {
    display: flex !important;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.react-datepicker__day-name {
  width: 44px;
  text-align: center;
  color: #999;
  @media (min-width: 1024px) {
    width: 34px;
  }
}

.react-datepicker__children-container {
  display: flex;
  width: 100%;
}

.react-datepicker__month {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 422px;
  align-self: center;

  @media (min-width: 1024px) {
    justify-content: start;
  }
}

.react-datepicker__week {
  display: flex;
  border-radius: 10px;
}

.react-datepicker__day {
  width: 44px;
  height: 42px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  align-content: center;
  transition:
    background 0.15s,
    color 0.15s,
    border-radius 0.15s;

  @media (min-width: 1024px) {
    width: 34px;
    height: 32px;
  }
}

.react-datepicker__day--disabled {
  background-color: var(--color-gray-light) !important;
  color: var(--color-gray-dark) !important;
  cursor: default !important;
  pointer-events: none !important;
}

.react-datepicker__day--outside-month {
  cursor: auto !important;
  color: transparent !important;
  pointer-events: none !important;
  height: 0;
  background: transparent !important;
}

.react-datepicker__day:hover {
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
}

.react-datepicker__day--disabled-single {
  border-radius: 10px !important;
}

.react-datepicker__day--disabled-range-start {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.react-datepicker__day--disabled-range-end {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.react-datepicker__day--disabled-range-middle {
  border-radius: 0 !important;
}

.react-datepicker__day--selected-startDate,
.react-datepicker__day--selected-endDate {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  border-radius: 10px !important;
}

.react-datepicker__day--selected-range {
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
}

.react-datepicker__day--in-selecting-range {
  background-color: var(--color-gray-light);
  color: var(--color-gray-dark);
  border-radius: 0;
}

.react-datepicker__day--selected-startDate:hover,
.react-datepicker__day--selected-endDate:hover {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}

// .react-datepicker__day--selected-startDate,
// .react-datepicker__day--selected-endDate {
//   background-color: var(--color-black) !important;
//   color: var(--color-white) !important;
// }

.react-datepicker__day--selecting-range-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

// .react-datepicker__day--in-selecting-range {
// }

.react-datepicker__day--selected-range {
  border-radius: 0 !important;
}

.hint {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 100%;
    background-color: var(--color-black);
    width: 4px;
    height: 4px;
    transform: translateX(-50%);
    pointer-events: none;
  }
}

.day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.min-nights-tooltip {
  position: absolute;
  top: -55px;
  left: -50px;
  background-color: var(--color-white);
  width: 130px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 4px;
  color: var(--color-black);
}
